html, body{
    width: 100%;
    height: 100%;
}

.container{
    width: 90%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: aquamarine;
}
ul{
    display: flex;
    height: 100%;
    justify-content:;
    flex-direction: row;
    align-items: center;
    

}

li{
    background-color: bisque;
}