html, body{
    width: 100%;
    height: 100%;
}


main{
    width: 80%;
    height: 20%;
    /*background-color: linear-gradient(to left, blueviolet, violet);
    background-color: linear-gradient(to left, blueviolet, violet);*/
    background: radial-gradient(blueviolet, violet);
}


/*main:hover{

    position: relative;
    top: 30px;
    color: beige;
    transition: top 2s, color 1s ease;
}*/


main:hover{
 box-shadow: 0 8px 20px rgb(0, 0, 0, 0.5);
 transition: box-shadow 0.7s, transform 0.7s;
 background-color: rgba(255,255,255,0.8);
 transform: scale(1.2)rotate(-5deg);
}







